@model IEnumerable<Blog.DAL.Classes.Project>
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@section SelectedList{
    <script>
        $('li.secim:nth-of-type(3)').addClass("active");
    </script>
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Projects</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th width="500px">Content</th>
                    <th width="100px">Created - Modified</th>
                    <th width="70px">Image</th>
                    <th>Tags</th>
                    <th width="50px"><a href="@Url.Action("AddProject","Admin")" class="btn btn-success">Add Project</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Subject</td>
                        <td>
                            @if (item.Content.Length > 250)
                            {
                                @Html.Raw(item.Content.Substring(0, 250)) @:...
                            }
                            else
                            {
                                @Html.Raw(item.Content)
                            }
                        </td>
                        <td> C: @item.CreatedDate.ToString("dd.MM.yyyy") <br /> M: @item.ModifiedDate.ToString("dd.MM.yyyy") </td>
                        <td><img width="70" src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.Image))" /></td>
                        <td>@foreach (var item2 in item.TagDetails)
                        {
                            <label class="btn btn-xs btn-facebook">@item2.Tag.Name</label>
                        }</td>
                        <td>
                            <a href="@Url.Action("UpdateProject","Admin", new { id = item.ID })" class="btn btn-lg"><i class="fa fa-edit"></i></a>
                            <a onclick="DeleteProject(@item.ID)" class="btn btn-lg"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<script>
    function DeleteProject(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "/Admin/DeleteProject",
                    type: "POST",
                    data: { id },
                    success: function () {
                        location.reload();
                    },
                    error: function () {

                    }
                })
            }
        })
    }
</script>

